accelerate
aiohttp
aiosignal
alembic
antlr4-python3-runtime
appdirs
async-timeout
attrs
autopage
certifi
cfgv
charset-normalizer
click
cliff
cmaes
cmd2
colorlog
distlib
docker-pycreds
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
huggingface-hub
hydra-colorlog
hydra-core
hydra-optuna-sweeper
identify
idna
importlib-metadata
iniconfig
Jinja2
joblib
lightning
lightning-utilities
Mako
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
networkx
nltk
nodeenv
numpy
omegaconf
optuna
packaging
pandas
pathtools
pbr
Pillow
platformdirs
pluggy
pre-commit
prettytable
protobuf
psutil
Pygments
pyperclip
pytest
python-crfsuite
python-dateutil
python-dotenv
pytorch-lightning
pytz
PyYAML
rank-bm25
regex
requests
rich
rootutils
safetensors
scikit-learn
scipy
sentry-sdk
setproctitle
six
smmap
SQLAlchemy
stevedore
sympy
threadpoolctl
tokenizers
torch==1.12.1
torchaudio==0.12.1
torchmetrics
torchvision==0.13.1
tqdm
transformers
triton
typing_extensions
tzdata
underthesea
underthesea_core
urllib3
virtualenv
wandb
wcwidth
yarl
zipp
tensorboard